@page
@model CRAJ.Web.Pages.Account.CreateModel
@using CRAJ.Web.Models
@{
    ViewBag.Title = "Create Docuement";
    Layout = "~/Pages/Shared/_Account.cshtml";
}

<form method="post" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Ajouter un docuement</h2>
            <hr />
        </div>

        <div class="row">
            <div class="mb-2 col-6">
                Identifiant personne
                <input asp-for="AddDocumentViewModel.IdPersonne" class="form-control" />
                <span asp-validation-for="AddDocumentViewModel.IdPersonne" class="text-danger"></span>
            </div>

            <div class="mb-2 col-6">
                Type du document

                <select asp-for="AddDocumentViewModel.IdTypeDoc"
                        class="form-control">
                    @foreach (var type in Model.Types)
                    {
                        <option value="@type.Id">@type.Nom </option>
                    }
                </select>

            </div>

        </div>
        <div>
            <div class="mb-2 col-12">
                Type d'Archive / نوع الأرشفة

                <div class="mb-2 col-6" style="text-align: right">
                    <label> المحكمة => المجلس القضائي&nbsp; <input class="boost_radio" onclick="boostNo(1)" asp-for="AddDocumentViewModel.TypeArchive" type="radio" value=1 checked="checked" /></label><br />
                    <label> المحكمة => مركز الأرشيف&nbsp; <input class="boost_radio" onclick="boostNo(4)" asp-for="AddDocumentViewModel.TypeArchive" type="radio" value=2 /></label><br />
                    <label> المحكمة => المجلس القضائي => إتلاف &nbsp; <input class="boost_radio" onclick="boostNo(3)" asp-for="AddDocumentViewModel.TypeArchive" type="radio" value=3 /></label><br />
                    <label> المحكمة => المجلس القضائي => مركز الأرشيف => إتلاف&nbsp; <input class="boost_radio" onclick="boostNo(2)" asp-for="AddDocumentViewModel.TypeArchive" type="radio" value=4 /></label>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Télecharger le Document / تحميل الوثيقة</label>
                        <input asp-for="AddDocumentViewModel.FormDocument" class="form-control" type="file" />
                        <span asp-validation-for="AddDocumentViewModel.FormDocument" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="pl-3 pt-3">
                <button type="submit" class="btn btn-primary" style="width:150px">Ajouter</button>
            </div>
        </div>


    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}