.divup {
    margin: auto;
    width: 512px;
    height: 512px;
    position: relative;
}

.imgdown {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;

}
