@using Microsoft.AspNetCore.Identity 
@inject SignInManager<IdentityUser> SignInManager

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar ignoreForPdf">
            <h2>Sidebar</h2>
            @{
            if (SignInManager.IsSignedIn(User))
            {

            }
            }

            <ul style="padding-left:0">
                <li><a asp-page="/Index"><i class="fa-solid fa-house"></i>Home</a></li>
                <li><a asp-page="Create"><i class="fa-solid fa-user"></i>Profile</a></li>
                <li><a asp-page="Documents"><i class="fa-solid fa-file"></i>Docuements</a></li>
                <li><a asp-page="Logout"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a></li>
            </ul>
        </div>

        <div class="main_content">
            <div class="header">
                HELLO WORKER
            </div>
            <div>
                <div>
                    @RenderBody()

                    @section Scripts {
                        @RenderSection("Scripts", required: false)
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
